<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Craftsy</title>
</head>

<body class="home">
    <header class="home__header">
        <div class="home__header--box-logo">
            <img class="home__header--logo" src="/img/logo.png" alt="logo_craftsy">
            
            <ul class="home__header--login">
                <div class="home__header__nav--menu">
                <li class="display-none"> <a href="/">SMARTPHONE</a></li>
                <li class="display-none"><a href="/">TABLETS</a></li>
                <li class="display-none"><a href="/">COMPUTADORAS</a></li>
            </div>
                <li><a class="home_header-buton" href="/">LOGIN </a></li>
                <li><a class="home_header-buton" href="/">REGISTRO </a></li>
            </ul>
        </div>
        <nav class="home__header__nav--menu">
            <ul class="home__header--ul">
                <li> <a href="/">SMARTPHONE</a></li>
                <li><a href="/">TABLETS</a></li>
                <li><a href="/">COMPUTADORAS</a></li>
            </ul>
        </nav>

    </header>
    <main class="home_main">

        <div class="div-loco">
            <article class="article-loco">
                <div class="home__article--box-container">
                    <div class="home__main__article--img">
                        <img class="home__img" src="/img/img-phone-01.jpg" alt="phone-01">
                    </div>
                    <h3>Nombre del Producto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam quo maiores sit iusto?
                        Consectetur,
                        consequatur.</p>
                    <a class="home__main-a" href="">ver más</a>
                </div>
                <div class="home__article--box-container">
                    <div class="home__main__article--img">
                        <img class="home__img" src="/img/img-phone-02.jpg" alt="phone-02">
                    </div>
                    <h3>Nombre del Producto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam quo maiores sit iusto?
                        Consectetur,
                        consequatur.</p>
                    <a class="home__main-a" href="">ver más</a>
                </div>
                <div class="home__article--box-container">
                    <div class="home__main__article--img">
                        <img class="home__img" src="/img/img-phone-03.jpg" alt="phone-03">
                    </div>
                    <h3>Nombre del Producto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam quo maiores sit iusto?
                        Consectetur,
                        consequatur.</p>
                    <a class="home__main-a" href="">ver más</a>
                </div>
                <div class="home__article--box-container">
                    <div class="home__main__article--img">
                        <img class="home__img" src="/img/img-phone-01.jpg" alt="phone-01">
                    </div>
                    <h3>Nombre del Producto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam quo maiores sit iusto?
                        Consectetur,
                        consequatur.</p>
                    <a class="home__main-a" href="">ver más</a>
                </div>
                <div class="home__article--box-container">
                    <div class="home__main__article--img">
                        <img class="home__img" src="/img/img-phone-02.jpg" alt="phone-02">
                    </div>
                    <h3>Nombre del Producto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam quo maiores sit iusto?
                        Consectetur,
                        consequatur.</p>
                    <a class="home__main-a" href="">ver más</a>
                </div>
                <div class="home__article--box-container">
                    <div class="home__main__article--img">
                        <img class="home__img" src="/img/img-phone-03.jpg" alt="phone-03">
                    </div>
                    <h3>Nombre del Producto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam quo maiores sit iusto?
                        Consectetur,
                        consequatur.</p>
                    <a class="home__main-a" href="">ver más</a>
                </div>

            </article>
        </div>



    </main>
    <aside class="home_aside">
        <section class="home-section-aside">
            <div class="home_aside--tutoriales-box">                

                <div class="home__aside--box">
                    <h2 class="home__aside_tutorial">Tutoriales</h2>
                    <div>
                    <img src="/img/aside-01.jpg" alt="aside-1">
                    <a class="asid_sectio_a" href="/">titulo del tutorial de reparacion</a> </p>
                </div>
                <div class="home__aside--box">
                    <img src="/img/aside-02.jpg" alt="aside-2">
                    <a class="asid_sectio_a" href="/">titulo del tutorial de reparacion</a>
                </div>
                <div class="home__aside--box">
                    <img src="/img/aside-03.jpg" alt="aside-3">
                    <a class="asid_sectio_a" href="/">titulo del tutorial de reparacion</a> 
                </div>
                <div class="home__aside--box">
                    <img src="/img/aside-04.jpg" alt="aside-3">
                    <a class="asid_sectio_a" href="/">titulo del tutorial de reparacion</a>
                </div>
                </div>

            </div>
            <div>

                <article>
                    <h2 class="home__aside--article-h2">Publicidad</h2>
                    <div class="home__aside--article">
                        <img src="/img/propaganda1.jpg" alt="ad-01">
                        <img src="/img/propaganda2.jpg" alt="ad-02">
                    </div>
                    

                </article>
            </div>
        </section>
    </aside>
    <footer>

    </footer>
</body>

</html>